.about-picture {
	background: url("../img/about-img-2.jpg")center/cover no-repeat fixed;
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
 border-radius: 0.2rem;
}